body {
    background-image: url(Cover\ photo.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Merriweather", serif;
    margin: 0;
    max-height: fit-content;
    max-width: fit-content;
  }
  
   .header-container {
     display: flex;
     justify-content: space-between;
     align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  .intro-section {
    text-align: center;
    padding: 50px;
    color: white;
  }
  
  .intro-section h1 {
    font-size: 30x;
    margin-top: 20px;
  }
  
  .intro-section p {
    font-size: 18px;
    margin-top: 10px;
    color: white;
  }
  
  .intro-section nav a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .intro-section .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .feature-section {
    background-position: center;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-family: "Merriweather", serif; 
  }
  
  .feature-section .feature {
    text-align: center;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .feature-section img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .feature-section h2 {
    margin-top: 10px;
    font-size: 18px;
    color:gainsboro;
  }
  
  .feature-section p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
  }
  
  .about-section {
    font-family: "Merriweather", serif;
    padding: 40px;
    text-align: center;
    font-size: 20px ;
  }
  
  .about-content {
    margin-bottom: 20px;
    color: white;
  }
  
  .about-content .portfolio-link a {
    color: white;
  }
  
  h1{
    font-size: 30px;
    color:white;
    font-family: "Merriweather", serif;
  }

  h2 {
    font-size: 25px;
    color: white;
    font-family: "Merriweather", serif;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    font-family: "Merriweather", serif;
  }
  
  .quote {
    font-style: italic;
    margin-top: 20px;
    color: white;
  }
  
  .team-members {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
  }
  
  .team-members li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .team-members li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .p {
    color: white;
    font-weight: bold;
    font-size: 14px;
    font-family: "Merriweather", serif;
  }
  
  footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
