body {
  font-family: "Merriweather", serif;
  background-color: #141e30;
  margin: 0;
  max-height: fit-content;
  max-width: fit-content;
}

 .header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-: cover;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.intro-section {
  text-align: center;
  padding: 50px;
  color: #afabab;
  background-color: #f2f2f2;
}

.intro-section h1 {
  font-size: 32px;
  margin-top: 20px;
}

.intro-section p {
  font-size: 18px;
  margin-top: 10px;
  color: #afabab;
}

.intro-section nav a {
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.intro-section .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.feature-section {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  font-family: "Merriweather", serif;
  background-color: #141e30;
}

.feature-section .feature {
  text-align: center;
  max-width: 300px;
  margin-bottom: 20px;
}

.feature-section img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.feature-section h2 {
  margin-top: 10px;
  font-size: 20px;
}

.feature-section p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
}

.about-section {
  background-color: #141e30;
  padding: 40px;
  text-align: center;
}

.about-content {
  margin-bottom: 20px;
  color: white;
}

.about-content .portfolio-link a {
  color: white;
}

h2 {
  font-size: 24px;
  color: white;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

.quote {
  font-style: italic;
  margin-top: 20px;
  color: white;
}

.team-members {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
}

.team-members li {
  display: inline-block;
  margin-right: 10px;
}

.team-members li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.p {
  color: white;
  font-weight: bold;
  font-size: 14px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
