
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image:url(Cover\ photo2.jpg);
}

header {
  font-family: 'Merriweather', serif;
  font-style: normal;
  background-color: #ebe5e5;
  color: #242524;
  padding: 0px;
  text-align: left;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Merriweather', serif;
  font-style: normal;
}

.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
}

.center-column 
p {
  color: #fff;
  font-size: large;
}


#chat-container {
  max-width:max-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f3f3;
  border-radius: 5px;
  bottom: 50%;
}

#message-container {
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: fit-content;
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.message.user {
  background-color: #f5f3f3;
  text-align: right;
}

.message.bot {
  background-color: #f5f3f3;
}

#input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  bottom: 0%;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #030303;
}

#send-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

#voice-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}

#chat-history-container {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1d1c1c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align items to the right */
}

#chat-history-container button {
  display: block;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

#show-history-btn {
  order: 2; /* Reorder the button to be placed below clear history button */
}

#clear-history-btn {
  order: 1; /* Set the order to be placed above show history button */
}